<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sadanime">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name        = ".root.MyApp"
        android:icon        = "@mipmap/ic_launcher"
        android:largeHeap   = "true"
        android:allowBackup = "true"
        android:supportsRtl = "true"
        android:label       = "@string/app_name"
        android:fullBackupContent    = "true"
        android:usesCleartextTraffic = "true"
        android:appComponentFactory  = "whateverString"
        android:roundIcon = "@mipmap/ic_launcher_round"
        android:theme     = "@style/AppTheme"
        tools:targetApi   = "p"
        tools:replace     = "android:appComponentFactory"
        >
        <activity android:name=".modulo.login.view.RegisterUserActivity" />
        <activity android:name=".modulo.principal.view.PrincipalActivity" />
        <activity android:name=".modulo.login.view.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>